.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #050505;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #050505;
}
