@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #050505;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #050505;
}

#root {
  background-color: #050505;
}
